* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: wheat;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 50px;
}

main {
  flex: 1;
  max-width: 560px;
  padding: 0 10px;
}

.title {
  text-align: center;
  color: black;
  padding: 20px 0;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  overflow: hidden;
  padding: 3px;
}

form .title-input {
  height: 100%;
  flex: 1;
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  padding: 0 15px;
}

form .add-btn {
  height: 100%;
  padding: 0 25px;
  background: rgb(3, 142, 63);
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}
.btn {
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}
.btn:active {
  opacity: 0.8;
  scale: 0.98;
}

.tasks {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #636161;
  margin-top: 30px;
}

.task {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #636161;
}

.task-title {
  flex: 1;
  font-size: 17px;
  text-transform: capitalize;
}
.task-title .strike {
  text-decoration: line-through;
}

.controllers {
  display: flex;
  gap: 5px;
  align-items: center;
}

.controllers button,
.edit-btn {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #ccc;

  border: none;
  border-radius: 6px;
}

/* task styles */
.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
  border-bottom: 1px solid #7c7c7cc2;
  padding-bottom: 10px;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: blue;
}
.header a:hover {
  text-decoration: underline;
}
.header p {
  background: #58585872;
  padding: 6px;
  border-radius: 6px;
  color: white;
}

.single-task form {
  border: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: start;
  gap: 20px;
  height: 100%;
}

.single-task form .group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-task form .group label {
  font-size: 18px;
}

.single-task form .group input[type="text"] {
  padding: 6px 12px;
  background: transparent;
  border: 1px solid #525151;
  border-radius: 6px;
  width: 480px;
  outline: none;
  font-size: 17px;
}
.single-task form .group input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.single-task form button {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background: green;
  border-radius: 5px;
}
